<ion-content [fullscreen]="true" class="ion-padding centralizar">

  <form (submit)="autenticarUsuario()" class="formulario">
    <h1>Login</h1>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Usuario" type="text" name="username" [(ngModel)]="instancia.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Senha" type="password" name="password" [(ngModel)]="instancia.password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="autenticarUsuario()">Autenticar</ion-button>
  </form>
</ion-content>