.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Garante que ocupe toda a altura da tela */
}

.formulario {
  width: 100%;
  max-width: 400px; /* Define um limite para a largura */
  padding: 20px; /* Adiciona espaçamento interno */
  background: var(--ion-color-light); /* Cor de fundo clara */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
  margin: 15% auto;
}

h1 {
  display: block;
  margin-left: 40%;
}